opencv-python==4.9.0.80
mediapipe==0.10.14
numpy==1.26.4
pyautogui==0.9.54
pynput==1.7.6
customtkinter==5.2.2
Pillow==10.3.0
openai-whisper==20231117
sounddevice==0.4.6
flask==3.0.3
flask-socketio==5.3.6
scipy==1.13.0
pyvirtualcam==0.10.0
sqlalchemy==2.0.30
reportlab==4.2.0
python-dotenv==1.0.1
pytest==8.2.0
pytest-mock==3.14.0
keyboard==0.13.5
psutil==5.9.8
